<a href="https://colab.research.google.com/github/Jeffrenchin/Computer-Science/blob/main/%E3%80%8Cfor_loops_ipynb%E3%80%8D%E7%9A%84%E5%89%AF%E6%9C%AC.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### **Introduction to `for` Loops**

In programming, a `for` loop provides a clean and concise way to iterate over a sequence of items. It's one of the most commonly used loops due to its simplicity and versatility in handling structured data types.

---

### **Iterating Over Ranges**

The `range()` function generates a sequence of numbers, which can be used in a `for` loop to repeat an action a specific number of times.

**Basic Syntax:**
```python
for variable in range(start, stop, step):
    # body of the loop
```

- `start`: The beginning value (optional, default is 0).
- `stop`: The end value (exclusive).
- `step`: The increment/decrement value (optional, default is 1).

**Example 1:** Counting from 0 to 4
```python
for i in range(5):
    print(i)
```

**Example 2:** Counting from 2 to 8 in steps of 2
```python
for i in range(2, 9, 2):
    print(i)
```

---

### **Iterating Over Lists**

A `for` loop can directly iterate over items in a list without needing to reference indices.

**Basic Syntax:**
```python
for item in list_name:
    # body of the loop
```

**Example:** Printing all items in a list
```python
fruits = ["apple", "banana", "cherry"]
for fruit in fruits:
    print(fruit)
```

**Note:** The `for` loop can also iterate over other iterable data types like tuples, sets, strings, and dictionaries.

---

In [ ]:
fruits = ["apple", "banana", "cherry"]
for fruit in fruits:
    print(fruit)

apple
banana
cherry


### **Practice Exercises:**

1. **Number Doubler:** For numbers 1 through 10, print each number doubled.

In [ ]:
num = [1,2,3,4,5,6,7,8,9,10]
for number in num:
  doubled = number * 2
  print(doubled)

2
4
6
8
10
12
14
16
18
20

2. **Vowel Finder:** Given a word, iterate over it and print only the vowels.

In [ ]:
give_word=input("type a word: ")
for character in give_word:
  if character == "a" or character == "e" or character == "i" or character == "o" or character == "u":
    print(character)

type a word: apple
a
e

3. **List Reverser:** Without using built-in functions, reverse the items in a list.

In [ ]:
original_list = [1, 2, 3, 4, 5]
reversed_list = []
for value in original_list:
  reversed_list = [value] + reversed_list
print("List after reverse", reversed_list)

List after reverse [5, 4, 3, 2, 1]

4. **Odd Number Counter:** Given a list of numbers, count how many odd numbers there are.

In [ ]:
a = 0
list = [1, 2, 3, 4, 5]
for i in list:
  if i % 2 != 0:
    a += 1
print(a)

3

5. **Grade Assigner:** For a list of scores, assign and print grades (e.g., A, B, C).

In [ ]:
s= [90, 70, 80]

for i in s:
  if i >= 90:
    print("A")
  elif i >= 80:
    print("B")
  else:
    print("C, you bad")

A
C, you bad
B

6. **Word Lengths:** For a list of words, print each word alongside its length.

In [ ]:
w = ["apple",  "pen", "pineapple", "pen"]
for i in w:
  print(i)
  b = len(i)
  print(b)

apple
5
pen
3
pineapple
9
pen
3

7. **Positive Number Finder:** Given a list of numbers, print only the positive ones.

In [ ]:
n= [1, -1, 2, -2]
for i in n:
  if i < 0:
    print(i)

-1
-2

8. **Temperature Converter:** Convert a list of temperatures from Celsius to Fahrenheit and print them.

In [ ]:
t=[30, 49, 9]
for i in t:
  a = i * 33.8
  print("fahrenheit: ",a)

fahrenheit:  1013.9999999999999
fahrenheit:  1656.1999999999998
fahrenheit:  304.2

9. **Name Initials:** For a list of full names, print the initials of each name.

In [ ]:
n=["jeff", "lachell", "kate"]
for i in n:
  print(i[0])

j
l
k

10. **Range Sum:** Calculate the sum of numbers from 1 to 100 using a `for` loop.

In [ ]:
a = 0
for i in range(1,101):
  a += i
print (a)

5050